<div class="row">
  <div class="col-sm-7 col-md-7">
    <div class="block ">
      <div class="block-header bg-gray-lighter">
        <h3 class="block-title"><%=t.booking_monthly_yearly_summary.invoicing_sales_channel_graph_title%></h3>
      </div>
      <div class="block-content">
        <canvas id="invoicing_sales_channel_graphic" width="640" height="690"></canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-5 col-md-5">
    <div class="block ">
      <div class="block-header bg-gray-lighter">
        <h3 class="block-title"><%=t.booking_monthly_yearly_summary.invoicing_sales_channel_table_title%></h3>
      </div>
      <div class="block-content">
        <div id="invoicing_sales_channel_table_container">

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="booking_invoicing_sales_channel_table">
 <div class="table-container">
    <table class="table table-striped">
       <thead>
         <tr>
           <th class="text-left" scope="col" style="width:20%"><%=t.booking_monthly_yearly_summary.table.period%></th>
           <%% for (var idx in sales_channels) { %>
           <th class="text-right" scope="col"><%%=sales_channels[idx]%></th>
           <%% } %>
         </tr>
       </thead>
       <tbody>
         <%% var totals = {}; %>
         <%% for (item in data) { %>
         <tr>
           <td class="text-left"><%%=months[item]%></td>
           <%% for (var idx in sales_channels) { %>
           <%%   if (totals[sales_channels[idx]] == null) { %>
           <%%     totals[sales_channels[idx]] = new Number(0); %>
           <%%   } %>
           <%%   totals[sales_channels[idx]] += new Number(data[item][sales_channels[idx]]); %>
           <td class="text-right" scope="col"><%%=new Number(data[item][sales_channels[idx]]).toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></td>
           <%% } %>
         </tr>
         <%% } %>
         <tr class="success">
           <td class="text-left"><b>TOTAL</b></td>
           <%% for (item in totals) { %>
           <td class="text-right" scope="col"><b><%%=totals[item].toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></b></td>
           <%% } %>
         </tr>
         <tr class="info">
           <td class="text-left"></td>
           <%% for (item in totals) { %>
             <%% if (item != 'total') { %>
             <td class="text-right" scope="col"><b><%%=new Number(totals[item].toFixed(2) / totals['total'] * 100).toFixed(2)%>%</b></td>
             <%% } else {%>
             <td class="text-right">-</td>
             <%% } %>
           <%% } %>
         </tr>
       </tbody>
    </table>
</script>