<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.booking_renting_summary.title%></h2>
</div>
<style>
  .demo-container {
    width: 100%;
    height: 600px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    background: #fff;
  }

  .demo-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
  }

  .bar-legend {
    display: inline-block;
  }
  .bar-legend li {
    list-style-type: none;
    text-align: left;
    font-size: 10px;
    overflow: hidden;
    display: inline-block;
  }
  .bar-legend li span {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px;
  }
</style>
<div class="admin_content_wrapper"  style="background-color: #f5f5f5; margin: 0">

  <div class="content">

    <div class="text-center">
      <form>
        <select id="year" name="year">
        </select>
      </form>
    </div>

    <br>

    <%= partial(:received_reservations) %>

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="block ">
          <div class="block-header bg-gray-lighter">
            <h3 class="block-title"><%=t.booking_renting_summary.cummulative_received_reservations%></h3>
          </div>
          <div class="block-content">
            <div id="cummulative_received_reservations_container"  class="demo-container">
            <div id="cummulative_received_reservations_graphic" class="demo-placeholder">

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>